{% extends "base.html" %}

{% block link_style %}
<style>
    .card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.avatar-lg {
    height: 150px;
    width: 150px;
}
</style>
{% endblock %}

{% block body %}


<div class="container mt-5">
    <br>
    <div class="row">
        <div class="col-lg-5 col-md-7 mx-auto my-auto">
            <div class="card">
                <div class="card-body px-lg-5 py-lg-5 text-center">
                    <img src="{{url_for('static', filename='img/avatar_1.png')}}" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                    <h2 class="text-primary">2FA Security</h2>
                    <p class="mb-4">Inserisci il codice di 6 cifre.</p>
                    <form action="{{url_for('auth.verify2fa', fiscal_code=fiscal_code, remember=remember)}}" method="post">
                        <div class="row mb-4">
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input maxlength="1" name="otp1" type="text" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input maxlength="1" name="otp2" type="text" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input maxlength="1" name="otp3" type="text" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input maxlength="1" name="otp4" type="text" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input maxlength="1" name="otp5" type="text" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input maxlength="1" name="otp6" type="text" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg my-4">Continua</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}